<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La mia prima pagina con Flask</title>
</head>
<body>
    <header>
        <h1>Ecco il mio sito web!</h1>
        <p>Questo sito rimarrà invariato finchè non capirò come modificarlo a mio piacimento, quindi per ora aspettiamo<p>
    </header>
    <main>
        <p>Questa pagina è stata creata usando Python e Flask.</p>
    </main>
</body>
</html>
